// police

$title-font: Shrikhand,
cursive;
$text-font: Roboto,
sans-serif;

// Couleur

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$color-cell: #f5edff;
$heart: linear-gradient(#ff79da, #9356dc);

// Texte

$title: 3rem;
$subtitle: 2rem;

// background

$bg-search: #eaeaea;
$bg-page: #f6f6f6;
$bg-footer: #353535;

// icon

$c-icon: #706f6f;