footer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  background-color: $bg-footer;
  color: white;
  width: 100%;

  .logo_footer {

    color: white;
    margin: 2rem;
    font-family: $title-font;



  }

  ul {
    padding-bottom: 3rem;

    li {
      margin: 0.5rem 2rem;

      i {
        margin-right: 1rem;
      }

      a {
        cursor: pointer;
        text-decoration: none;
        color: white;
      }
    }
  }
}