.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

// fonctionnement

.fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;

    .menu_fonction {
        margin: 2.5rem;


    }


    h1 {
        width: 100%;
        margin: 2rem 3rem;
        padding-left: 1rem;
        font-size: 2.5rem;

        @include desktop {
            text-align: center;

        }
    }
}

.logo {
    text-align: center;
    padding: 1rem;

    a {

        position: absolute;
        left: 15px;
        top: 12px;
        left: 20px;
        font-size: 2.5rem;
    }
}

.image_menu {
    width: 100%;
    height: 350px;
    object-fit: cover;



}