// restaurants

.section_picture {
  background-color: $bg-page;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

  }

  @include tablette {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

  }

  h1 {
    font-size: 3rem;
    width: 100%;

    @include desktop {
      text-align: center;
      font-size: 4rem;
    }
  }

  .menu_1,
  .menu_2,
  .menu_3,
  .menu_4 {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem;

    &:hover {
      box-shadow: 1px 3px 12px 4px $primary;
      border-radius: 25px;


    }


    @include desktop {
      width: 40%;
    }

    @include tablette {
      width: 40%;
    }
  }
}

// définition des images
.picture_index {
  @include img_index;
}

// texte sous les images

.picture_text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "h3 h3 like"
    "p p like";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  @include text_img;
}

h3 {
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 2rem;
  font-weight: 900;
  grid-area: h3;
}

p {
  grid-area: p;
  margin: 0.2rem;
  padding-bottom: 0.3rem;
}

.like {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  @include coeur;
  grid-area: like;
  font-size: 3rem;
}

// Page menu

.page_menu {
  position: relative;
  background-color: $bg-page;
  margin-top: -10rem;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;

  @include desktop {

    width: 100%;

  }



  &_titre {
    display: flex;
    padding: 5rem 0rem;
    margin: 2rem;
    font-family: $title-font;
    justify-content: space-between;
    font-size: 2rem;

    @include desktop {

      justify-content: space-evenly;
      width: 100%;
      padding-bottom: 3rem;
      margin: 0;

    }


  }
}

.compo {

  margin: 0.2rem;

  background-color: $bg-page;



  @include desktop {

    display: flex;
    gap: 1rem;
    justify-content: space-between;


  }
}

.compo_menu {

  margin: 0.2rem;
  background-color: $bg-page;
  padding: 0.2rem;


  &:hover {
    cursor: pointer;
  }

  &_carte {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_titre {
    padding-bottom: 0.2rem;
    margin: 0.2rem 1rem;
  }

  hr {
    border-top: 3px solid $tertiary;
    width: 4rem;
    margin: 0.3rem 1rem;
  }

  &_texte {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #d4d4d4;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    @include desktop {
      width: 380px;
      font-size: 1.3rem;

    }

  }

  &_choix {
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    padding-top: 1px 0 0 0;
    font-weight: bold;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;

    @include desktop {
      font-size: 1.6rem;

    }

  }

  &_accompagnement {
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    padding-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;

  }
}

.compo_menu_check {
  position: relative;
  display: flex;
  align-items: flex-end;
  right: -5.5rem;

  &_prix {
    font-weight: bold;
    margin-right: 2rem;
  }

  &_icon {
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 7rem;
    height: 7.2rem;
    margin: -10px -10px -10px 0px;

    :before {
      border: 1px solid white;
      border-radius: 25px;
      background-color: white;
      padding: 0.3rem;
      color: $tertiary;
    }
  }
}

.commande {
  display: flex;
  justify-content: center;
  background-color: $bg-page;
}