@keyframes vide {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;

  }

}

@keyframes menuCheck {
  0% {
    opacity: 1;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.compo_menu_texte:hover .compo_menu_check_icon {
  cursor: pointer;
  transform: translateX(-75%);
  transition: ease-in-out 300ms;
  position: relative;
  opacity: 1;
}