@keyframes vide {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;

  }

}

@keyframes menuCheck {
  0% {
    opacity: 1;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.compo_menu_texte {
  :hover {
    cursor: pointer;

  }
}