@keyframes full_heart {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }


  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}


@keyframes vide {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}