* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

// font à 10 px
html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serifxt-font;
  font-size: 1.6rem;
  background-color: #f6f6f6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}